.todo-item {
  position: relative;
  padding: 10px;
}

.todo-item.grey {
  background: #e2e2e2;
}

.todo-item.selected--remove {
  background: #f50057;
  color: #fff;
}

.todo-text {
  font-size: 18px;
  font-weight: 300;
}

.todo-input {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  padding: 10px;
}

.fa {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.danger {
  color: #f50057;
}

.white {
  color: #fff;
}
